<div class="general_padding bg_clolor py-4 text-white text-xs sm:text-base">
  <div class="flex gap-3 justify-between">
    <div class="w-52">
      <img src="../../assets/images/CDev.svg" class="h-10 mb-3" alt="" />

      <div class="flex flex-col justify-between">
        <div class="">
            <p class="">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
        </div>
        <div class="">
            <p class="">ChoDev</p>
        </div>

      </div>
    </div>
    <div class="w-52">
      <p class="mb-3">About us</p>
      <div class="flex flex-col">

        <p class="">Zeux</p>

        <p class="">Portfolio</p>

        <p class="">Careers</p>
        
        <p class="">Contact us</p>
      </div>
    </div>
    <div class="w-52">
      <p class="">Contact us</p>
      <div class=""></div>
      <p class="">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <p class="">+237676163500</p>
    </div>
    <div class="object-contain w-52">
      <div class="flex flex-col lg:flex-row">
        <img
          src="../../assets/images/i-facebook.svg"
          class="h-12 md:h-14 xl:18"
          alt=""
        />
        <img
          src="../../assets/images/i-twitter.svg"
          class="h-12 md:h-14 xl:18"
          alt=""
        />
        <img
          src="../../assets/images/i-instagram.svg"
          class="h-12 md:h-14 xl:18"
          alt=""
        />
        <img
          src="../../assets/images/i-linkedin.svg"
          class="h-12 md:h-14 xl:18"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="bg_clolor text-center">
  <div class="h-[0.2rem] w-full bg-white"></div>
  <p class="text-white py-5">Copyright ® 2021 Lorem All rights Rcerved</p>
</div>
