<div class="general_padding bg_clolor md:pt-40 md:py-4 text-white text-xs md:text-sm lg:text-base">
  <div class="grid grid-cols-4 gap-3">

    <div class="">
      <img src="../../assets/images/CDev.svg" class="h-6 mb-3" alt="" />

      <div class="h-32  flex flex-col justify-between">
   
            <p class="lg:w-52">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
   
            <p class="">ChoDev</p>
   

      </div>
    
    </div>

    <div class=" ">
      <p class="mb-3 h-6">About us</p>
      <div class="h-32 flex flex-col justify-between">

        <p class="">Zeux</p>

        <p class="">Portfolio</p>

        <p class="">Careers</p>
        
        <p class="">Contact us</p>
      </div>
    </div>

    <div class="">
      <p class="mb-3 h-6">Contact us</p>
      <div class="h-32 flex flex-col justify-between">
        <p class="lg:w-52">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <p class="">+237676163500</p>
      </div>
    </div>

    <div class="object-contain  flex justify-center items-end mb-2 sm:mb-0">
      <div class="flex flex-col lg:flex-row ">
        <img
          src="../../assets/images/i-facebook.svg"
          class="h-11  lg:h-14"
          alt=""
        />
        <img
          src="../../assets/images/i-twitter.svg"
          class="h-11 lg:h-14"
          alt=""
        />
        <img
          src="../../assets/images/i-instagram.svg"
          class="h-11  lg:h-14"
          alt=""
        />
        <img
          src="../../assets/images/i-linkedin.svg"
          class="h-11  lg:h-14"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="bg_clolor text-center">
  <div class="h-[0.2rem] w-full bg-white "></div>
  <p class="text-white text-xs md:text-base py-3 lg:py-5">Copyright ® 2021 Lorem All rights Rcerved</p>
</div>


