<div class="w-full bg_clolor general_padding">
  <div class="flex justify-between pt-5 md:pt-0">
    <p class="text-white text-xl sm:text-2xl font-bold">Currently Trending Games</p>
    <a
      href="#"
      class="bg-[#1C140F] text-white rounded-md px-3 md:px-6 py-2 text-sm font-medium opacity-100"
      aria-current="page">SEE ALL</a>
  </div>
  <div class="game_card justify-items-center pt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-9 ">
  <!-- <div class="game_card pt-12 flex flex-wrap justify-between gap-3"> -->

    <div class=" 2xl:w-full">
      <img
        src="../../assets/images/codm.png"
        class="object-cover rounded-xl h-[13rem] 2xl:h-[16rem]"
        alt=""
      />
      <div class="flex justify-center">
        <img src="../../assets/images/fire.svg" class="mr-2" alt="fire" />
        <p class="text-white text-lg mt-2 ">40 Followers</p>
      </div>
    </div>
    <div class=" 2xl:w-full">
      <img
        src="../../assets/images/g-2.png"
        class="object-cover rounded-xl h-[13rem] 2xl:h-[16rem]"
        alt=""
      />
      <div class="flex justify-center">
        <img src="../../assets/images/fire.svg" class="mr-2" alt="fire" />
        <p class="text-white text-lg mt-2 ">40 Followers</p>
      </div>
    </div>
    <div class=" 2xl:w-full">
      <img
        src="../../assets/images/g-1.png"
        class="object-cover rounded-xl h-[13rem] 2xl:h-[16rem]"
        alt=""
      />
      <div class="flex justify-center">
        <img src="../../assets/images/fire.svg" class="mr-2" alt="fire" />
        <p class="text-white text-lg mt-2 ">40 Followers</p>
      </div>
    </div>
    <div class=" 2xl:w-full">
      <img
        src="../../assets/images/g-3.png"
        class="object-cover rounded-xl h-[13rem] 2xl:h-[16rem]"
        alt=""
      />
      <div class="flex justify-center">
        <img src="../../assets/images/fire.svg" class="mr-2" alt="fire" />
        <p class="text-white text-lg mt-2 ">40 Followers</p>
      </div>
    </div>
    
    
    

    

   

  </div>
</div>
