<div class="bg_color recent_projects general_padding pt-24 lg:pt-44 md:pb-[5rem]">
  <div class="flex justify-center pb-10">
    <p
      class="text-white lg:w-2/4 text-center text-xl md:text-2xl lg:text-3xl font-bold"
    >
      Our Recent Projects
    </p>
  </div>

  <div class="flex justify-center">
    <p class="text-white xl:text-lg sm:w-3/4 lg:w-1/2 text-center">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
  </div>

  <div
    class="mt-9 grid justify-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-9 py-10 "
  >
    <img
      src="../../../assets/images/project1.svg"
      class="w-full  h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project2.svg"
      class="w-full  h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project3.svg"
      class="w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project4.svg"
      class="w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project5.svg"
      class="w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project6.svg"
      class="w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
  </div>
  <div class="flex justify-center">
    <a
      href="#"
      class="bg-[#1C140F] text-white rounded-md px-3 md:px-6 py-2 text-sm font-medium opacity-100"
      aria-current="page"
      >SEE ALL</a
    >
  </div>


</div>
