<div class="bg_clolor recent_projects general_padding py-24 lg:py-44 ">
  <div class="flex justify-center pb-10">
    <p
      class="text-white lg:w-2/4 text-center text-xl md:text-2xl lg:text-3xl font-bold"
    >
      Our Recent Projects
    </p>
  </div>

  <div class="flex justify-center">
    <p class="text-white xl:text-lg sm:w-3/4 lg:w-1/2 text-center">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
  </div>

  <div
    class="mt-9 grid justify-items-center sm:grid-cols-2 md:grid-cols-3 gap-4 py-10"
  >
    <img
      src="../../../assets/images/project1.svg"
      class="w-3/5 sm:w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project2.svg"
      class="w-3/5 sm:w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project3.svg"
      class="w-3/5 sm:w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project4.svg"
      class="w-3/5 sm:w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project5.svg"
      class="w-3/5 sm:w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
    <img
      src="../../../assets/images/project6.svg"
      class="w-3/5 sm:w-full h-[10rem] object-cover rounded-xl lg:h-[13rem] 2xl:h-[16rem]"
      alt=""
    />
  </div>
  <div class="flex justify-center">
    <a
      href="#"
      class="bg-[#1C140F] text-white rounded-md px-3 md:px-6 py-2 text-sm font-medium opacity-100"
      aria-current="page"
      >SEE ALL</a
    >
  </div>

  <div class="mt-10 md:mt-20">
    <p class="text-white text-xl xl:text-2xl font-bold mb-5">Lorem Ipsum</p>
    <p class="text-white xl:text-lg md:w-1/2">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem
    </p>
  </div>

  <div class="mt-10 md:mt-15">

    <div style="background: #1C140F;" class="rounded-lg py-8 px-8">

      <div class="flex flex-col md:flex-row  justify-center items-center">
        <div class="">
            <p class="text-white text-xl  mb-2">Stay in the loop</p>
            <p class="text-white mb-5 md:mb-0 sm:w-3/4">
              Subscribe to receive the latest news and updates about TDA. We promise
              not to spam you!
            </p>
        </div>

        <div class="flex w-full lg:w-96 rounded bg-white h-12">
          <input
            type="adress"
            name="adress"
            id="adress"
            placeholder="Enter address"
            class="w-full border-none bg-transparent px-3 py-1 text-gray-700 outline-none focus:outline-none"
          />
          <button class="m-2 rounded bg-[#FA9021] px-3 py-1 text-white text-sm">
            Continue
          </button>
        </div>

      </div>
    </div>

  </div>
</div>
