
<div class="general_padding bg-[#1C140F] pt-20 md:pb-[5rem] text-white">
    <div class="flex flex-col items-center gap-8">
        <p class="text-sm lg:text-lg">Home > <span class="text-[#FA9021]">Contact us</span></p>
        <p class="text-lg font-bold md:text-2xl lg:text-3xl">
          Lorem Ipsum is simply dummy text of the printing and.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p> 
        <img src="../../assets/images/map.svg" alt="">

        <div class=" rounded-lg flex flex-col  md:justify-center md:flex-row gap-8 md:gap-2 py-8 mt-4 w-full">

            <div class="w-full flex flex-col items-center gap-2 py-2">
                   <p class="xl:text-lg">Follow us</p>
                   <div class="flex flex-row ">
                    <img
                      src="../../assets/images/i-facebook.svg"
                      class="h-11 md:h-12  2xl:h-20"
                      alt=""
                    />
                    <img
                      src="../../assets/images/i-twitter.svg"
                      class="h-11 md:h-12  2xl:h-20"
                      alt=""
                    />
                    <img
                      src="../../assets/images/i-instagram.svg"
                      class="h-11 md:h-12  2xl:h-20"
                      alt=""
                    />
                    <img
                      src="../../assets/images/i-linkedin.svg"
                      class="h-11 md:h-12 2xl:h-20"
                      alt=""
                    />
                  </div>
            </div>
    
            <div class="w-full flex flex-col  md:flex-row items-center md:justify-center gap-4 border-l-2 border-r-2 py-2">
                <img src="../../assets/images/phone_contact.svg" class="h-8 md:h-10 2xl:h-14" alt="">
                <p class="xl:text-lg">+237 676163500</p>
            </div>
            <div class="w-full flex flex-col md:flex-row items-center gap-2 md:justify-center py-2">
                <img src="../../assets/images/gps 1.svg" class="h-8 md:h-10 2xl:h-14" alt="">
                <p class="xl:text-lg lg:w-[80%]">but also the leap into electronic typesetting</p>
            </div>
        </div>
        <div class="">
          <input
        style="outline: none"
        type="search"
        name="search"
        autocomplete="off"
        placeholder="Search"
        class="pr-6 pl-10 px-5 bg-[#1C140F] py-3 font-semibold rounded-xl border-none ring-2 ring-[#1C140F] focus:ring-[#FA9021] focus:ring-3"
      />
        </div>
      </div>
</div>
