<div class="pt-16 lg:pt-32 2xl:pt-40">
  <div class="flex flex-col items-center gap-8">
    <p class="text-sm lg:text-lg">Home > <span class="text-[#FA9021]">News</span></p>
    <p class="text-lg font-bold md:text-2xl lg:text-3xl">
      Lorem Ipsum is simply dummy text of the printing and.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <div class="relative flex items-center">
      <i class="fa-solid fa-magnifying-glass absolute ml-3 text-xl"></i>
      <input
        style="outline: none"
        type="search"
        name="search"
        autocomplete="off"
        placeholder="Search"
        class="pr-6 pl-10 px-5 bg-[#1C140F] py-3 font-semibold rounded-xl border-none ring-2 ring-[#1C140F] focus:ring-[#FA9021] focus:ring-3"
      />
    </div>
  </div>
</div>
