<div
  class="w-full flex flex-col sm:flex-row h-[80] head bg_clolor general_padding pb-8 sm:pb-0 relative"
>
  <div class="w-full lg:w-1/2 md:pt-[5rem] md:pb-[5rem]  lg:pt-[13rem] lg:pb-[13rem]">
    <div class="md:pr-10">
      <div class="mt-24 md:mt-0">
        <p class="orangeColor  text-lg">3D game Dev</p>
      </div>
      

    <p class="text-white text-5xl  xl:text-4xl 2xl:text-6xl pt-5 lg:pt-10">Work that we can produce for our clients</p>
    <p class="text-white pt-5 lg:pt-10 text-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
      eligendi ab quis, omnis consectetur facere rem voluptate reprehenderit
      ipsum voluptas.
    </p>
    <div class="pt-10">
      <a
            href="#"
            class="bg-[#FA9021]  text-white rounded-2xl px-9  xl:px-14 py-2 text-sm font-medium"
            aria-current="page"
            >Dashboard</a
          >
    </div>
  </div>
  </div>
  <div
    class="hidden  lg:flex w-1/2 content_right "
  >
<img src="../../assets/images/joy_stick.svg" class="object-fit absolute " alt="">
</div>

</div>
