<div class="text-white bg_color pt-20 grid grid-cols-1 lg:grid-cols-2 gap-6">
  <div class="w-full flex flex-col  lg:justify-center gap-5 lg:gap-9 pl-6 sm:pl-20 xl:pl-60 2xl:pl-80 ">
    <p class="text-sm lg:text-lg xl:text-xl">Home > <span>About us</span></p>
    <p class="text-2xl lg:text-3xl xl:text-4xl 2xl:text-6xl font-bold w-[95%]">
      Lorem Ipsum is simply dummy text of the printing and.
    </p>
    <p class="text-base lg:text-lg xl:text-xl w-[95%]">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s.
    </p>
    <div class="">
      <a
        href="#"
        class="bg-[#FA9021] text-white rounded-2xl px-6 xl:px-14 py-2 text-sm lg:text-base xl:text-xl font-medium"
        aria-current="page"
        >Get in touch</a
      >
    </div>
  </div>
  <div class="px-6 sm:px-20 lg:px-0 w-full ">
    <div class="h-[95%] pr-1">
      <swiper-container
        class="mySwiper"
        effect="cube"
        pagination="true"
        autoplay="true"
        autoplay-delay="30000"
        speed="2000"
        >
        <swiper-slide
          ><img src="../../../assets/images/head-img.svg" alt="" /></swiper-slide
        >
        <swiper-slide
          ><img src="../../../assets/images/g-1.png" class="h-full" alt=""
        /></swiper-slide>
        <swiper-slide
          ><img src="../../../assets/images/g-5.webp" alt=""
        /></swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>

<!--<div class="bg_clolor lg:h-screen text-white">-->
<!--  <div class="pt-16 lg:pt-32 2xl:pt-40 flex flex-col lg:flex-row">-->
<!--    <div class="flex flex-col gap-5 lg:gap-9 py-8 lg:py-0 lg:justify-center lg:w-1/2 pl-6 sm:pl-20 xl:pl-60 2xl:pl-80">-->
<!--      <p class="text-sm lg:text-lg xl:text-xl">Home > <span>About us</span></p>-->
<!--      <p class="text-2xl lg:text-3xl xl:text-4xl 2xl:text-6xl w-3/4 font-bold">-->
<!--        Lorem Ipsum is simply dummy text of the printing and.-->
<!--      </p>-->
<!--      <p class="text-base lg:text-lg xl:text-xl w-[80%] lg:w-[85%]">-->
<!--        Lorem Ipsum is simply dummy text of the printing and typesetting-->
<!--        industry. Lorem Ipsum has been the industry's standard dummy text ever-->
<!--        since the 1500s.-->
<!--      </p>-->
<!--      <div class="">-->
<!--          <a-->
<!--            href="#"-->
<!--            class="bg-[#FA9021] text-white rounded-2xl px-6 xl:px-14 py-2 text-sm lg:text-base xl:text-xl font-medium"-->
<!--            aria-current="page"-->
<!--            >Get in touch</a-->
<!--          >-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="px-6 sm:px-20 lg:px-0 lg:w-1/2 pr-5">-->
<!--        <div class=" h-64 md:h-96 lg:h-[50rem]">-->
<!--          <swiper-container class="mySwiper" effect="cube" pagination="true" autoplay = "true" autoplay-delay="30000" speed="2000">-->
<!--            <swiper-slide><img src="../../../assets/images/head-img.svg" alt=""></swiper-slide>-->
<!--            <swiper-slide><img src="../../../assets/images/g-1.png" alt=""></swiper-slide>-->
<!--            <swiper-slide><img src="../../../assets/images/g-5.webp" alt=""></swiper-slide>-->
<!--          </swiper-container>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
