<div class="best_game bg_clolor general_padding pt-20 pb-20">
  <div class="flex justify-center mb-10">
    <p
      class="text-white lg:w-2/4 text-center text-2xl md:text-3xl lg:text-4xl font-bold"
    >
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
  </div>
  <p class="text-white text-xl xl:text-2xl font-bold mb-5">Lorem Ipsum</p>
  <p class="text-white xl:text-lg md:w-1/2 ">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s,
  </p>
  <div class="">
      <img src="../../../assets/images/best.svg" class="w-full object-cover rounded-lg " alt="">
  </div>
</div>
