<div class="pt-16 lg:pt-32 2xl:pt-40">
    <div class="flex flex-col items-center gap-8">
        <p class="text-sm lg:text-lg">Home > <span>About us</span></p>
        <p class="text-lg font-bold md:text-xl lg:text-3xl">
            Lorem Ipsum is simply dummy text of the printing and.
          </p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="bg-[#1C140F] rounded-lg flex py-8 mt-4">

        <div class="w-full flex flex-col items-center gap-2">
                <img src="../../../assets/images/user.svg" class="h-16 lg:h-20" alt="">
                <p class="font-bold">90+</p>
                <p class="">Clients</p>
        </div>

        <div class="w-full flex flex-col items-center gap-2 border-l-2 border-r-2">
            <img src="../../../assets/images/location.svg" class="h-16 lg:h-20"  alt="">
            <p class="font-bold">30+</p>
            <p>Countries</p>
        </div>
        <div class="w-full flex flex-col items-center gap-2">
            <img src="../../../assets/images/Server.svg" class="h-16 lg:h-20" alt="">
            <p class="font-bold">50+</p>
            <p>Projects</p>
        </div>
    </div>
</div>
